<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="newuser" class="navbar-brand">Student Form</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse2">
      <div class="navbar-nav">
        <a  class="nav-item nav-link text-light" routerLink="newuser" >New Student</a>
        <a  class="nav-item nav-link text-light" routerLink="userslist" >Students List</a>
      </div>
      <form class="d-flex ms-auto">
        <input type="text" class="form-control me-sm-2" placeholder="Search">
        <button type="submit" class="btn btn-outline-light">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>